@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  line-height: 1.15; /* 1 */
  scroll-behavior: smooth;
  margin: 0rem auto;
}

body {
  direction: ltr;
  font-family: cursive;
  display: grid;
  grid-template-rows: repeat(3, auto);
  min-width: 320px;
  max-width: 1200px;
  margin: 0rem auto;
}

#parallax {
  height: calc(100vh - 68px);
}
